body {
  min-width: 1345px;
}
.navigation-bar  ul {
  list-style-type: none;
  margin: 0;  
}

.navigation-bar  ul li {
  float: left;
}

.navigation-bar  ul li a {
  display: block;
  background-color: #f3a615;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 18px 22px;
  border-style: ridge;
  border-radius: 15%;
  text-decoration: none;
}

.navigation-bar  ul li a:hover {
  background-color: #1471eb;
  counter-reset: rgb(255, 255, 255);
}

.container { 
  margin:auto ;
  align-items: center;
  width: 100%;
  max-width: 850px;
  height: auto;
  box-shadow: 0 15px 15px rgb(5, 226, 5);
  border: 1px solid rgb(10, 233, 10);
  background-color: rgba(221, 250, 221, 0.987);
}

h1 {
  color: #1541f3;
  text-align: center;
}

h2 {
  text-align: center;
  color: darksalmon;
  font-style: italic;
  font-weight: bold;
}

#app {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #971be4;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 3.2rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  padding: 0 2.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  
}

button,input[type='button']:hover {
  background-color: #0f78ce;
  border-color: #1b77c2;
  color: #fff;
  outline: 0;
}

.textbox {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
}


input[type='text'],
select {
  -webkit-appearance: none;
  background-color:white;
  border: 0.1rem solid #e70c0c;
  box-shadow: #e70c0c;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 1.5rem;
  padding: .6rem 1.0rem .7rem;
  width: 63%;
  margin-left:10%;
}

#footer{
  margin:0px;
  background-color:rgb(100, 92, 92);
  height: 338px;
  width:auto;
  border-radius:8px;
  position:relative;
  -webkit-box-shadow: -1px 0px 10px 0 rgb(100, 93, 93);
  -moz-box-shadow:-1px 0px 10px 0 rgb(100, 91, 91);
  box-shadow: -1px 0px 10px 0 rgb(99, 93, 93);  
}


.head1{
  font-size: 25px;
  text-shadow:-2px -1px 8px #fafafa;
}

.head2{
  color: rgb(15, 15, 15);
  text-shadow:-2px -1px 8px #FFFFFF;
}

.head3{
  color: #f1f1f1;
}

.release {
  color:rgb(17, 17, 17);
  line-height:200%;
  height:80px;
  margin-top:30px;
  margin-left:50px;
  text-align:center;
  position:absolute;
  font-family: 'Merienda', cursive;
}


.footermenu{
  color:rgb(16, 15, 15);
  margin-left:400px;
  margin-top:30px;
  line-height:170%;
  padding-top: 32px;
  text-align:center;
  font-family: 'Merienda', cursive;
  font-size:18px;
}

.footersocaillinks{
  color:#fff;
  margin-left: 639px;
  margin-top: -200px;
  position:absolute;
  text-align:center;
  font-family: 'Merienda', cursive;
  font-size:25px;

}

a {
  text-decoration: none;
  color: #f1f1f1;
}

#contactus{
  display:inline;
}

.contactheading1{
  color:rgb(8, 8, 8);
  text-shadow:-2px -1px 8px #fafafa;
  margin-left: 940px;
  margin-top: -215px;
  font-family: 'Courgette', cursive;
  font-size:30px;
}

.contactheading2{
  color:#fff;
  margin-left: 889px;
  margin-top:30px; 
  text-align:center;
  font-family: 'Merienda', cursive;
  font-size:16px;
}

.contactusbutton{
  background-color:rgba(99, 104, 240, 0.857);
  color:#000;
  margin-left:970px;
  margin-top:40px;
  height:60px;
  width:200px;
  line-height:60px;
  font-family: 'Merienda', cursive;
  font-size:20px;
  text-shadow:2px 1px 5px #000000;
  text-align:center;
  border-radius:10px;


}

hr{
  margin-top:2px;
  margin-bottom: 5px;
  background-color:rgb(255, 255, 255); 

}

.bottom1 {
  color: #090808;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;

}

.createdby{
  color:#fff;
  font-family: 'Courgette', cursive;
  font-size:14px;
  margin-left: 10px;
  margin-top: 7px;
}

.forhackinux{
  color: #FFFFFF;
  display: inline;
  float: left;
  font-size: 15px;
  margin-left: 1043px;
  margin-top: -34px;
  font-family: 'Courgette', cursive;

}
